body {
    font-family: Georgia, 'Times New Roman', Times, serif
}
nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }

  nav a:hover {
    color: orange;
  }

  main {
    margin-left: 220px;
    margin-right: 30%;
  }

  header {
    margin-left: 220px;
    margin-right: 30%;
  }